image {


    align-items: center;
    position: relative;
    justify-content: center;
}



.over {
    position: absolute;
    top: 40%;
    left: 35%;
    color: aliceblue;
    font-size: large;


}

.introdecio {
    color: rgb(17, 16, 16);
    font-size: large;
   
    text-align: center;
 
    margin: 20px;


}

.img2{
    top: auto;
   left: 400px;
    position: relative;
   bottom: 150px;
}

.line {
   
    border-top: 2px solid black;
   
   
    margin: 20px 0;
    height: 2px;


}

.imp {
    color: rgb(86, 85, 84);
    border-radius: 60%;
    width: 200px;
    height: 50px;
    background-color: bisque;
    text-align: center;
    line-height: 10px;

    margin: 8%;
  
    border: 2px solid bisque;


}


.list {
    color: rgb(86, 85, 84);
    text-align: left;
    margin: 20px 0;
    font-size: medium;
    height: auto;
    margin: 8%;
    
}